{% extends 'base.html' %}

{% block header %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout__title">MarksApp</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="{% url 'marks:home' %}">Home</a>
            <a class="mdl-navigation__link" href="#">About</a>
          </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout__title">Marksapp</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{% url 'marks:home' %}">Home</a>
      <a class="mdl-navigation__link" href="#">About</a>
    </nav>
    </div>
{% endblock %}

{% block page-content %}

<div class="mdl-grid card-grid">
  <!-- <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--4-col-tablet area-item centered mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <!--<h2 class="mdl-card__title-text"></h2>-->
      <!-- <i class="material-icons card-icon">school</i>
    </div>
    <div class="mdl-card__supporting-text">
      Students can view marks by entering their Enrolment No.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" href="student_area.php">
        Student Area
      </a>
    </div>          
  </div> -->
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--4-col-tablet area-item centered mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <i class="material-icons card-icon">assignment_ind</i>
    </div>
    <div class="mdl-card__supporting-text">
      Teachers can Login and enter student records and also enter or update their marks.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" href="{% url 'marks:teacher_login' %}">
        Teacher Area
      </a>
    </div>         
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-cell--4-col-tablet area-item centered mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <i class="material-icons card-icon">people</i>
    </div>
    <div class="mdl-card__supporting-text">
      The H.O.D can view marks of all the students in various subjects.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" href="{% url 'admin:index' %}">
        H.O.D Area
      </a>
    </div>
  </div>
</div>

{% endblock %}