{% load staticfiles %}

<!DOCTYPE html>
<html class="wrapper">
  <head>
    <title>MarksApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.teal-light_green.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'marks/css/main.css' %}">
  </head>
  <body>
    {% block header %}
    
    {% endblock %}  
    <main id="content" class="mdl-layout__content">
    {% block page-content %}
      
    {% endblock %}
    </main>
    

  <!--<footer class="mdl-mini-footer myfooter">
    <div class="mdl-mini-footer__left-section">
      <ul class="mdl-mini-footer__link-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy and Terms</a></li>
        <li><a href="#">User Agreement</a></li>
      </ul>
    </div>
  </footer>-->

</div>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="{% static 'marks/js/main.js' %}"></script>
  </body>
</html>